<a href="https://colab.research.google.com/github/vesdim2007/Coursera_Capstone/blob/master/Toronto_neighborhoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from bs4 import BeautifulSoup
import requests

content = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

soup = BeautifulSoup(content, 'lxml')

data_table = soup.find('table', {'class': 'wikitable sortable'})
data_head = data_table.find_all('th')
db_head = []
for title in data_head:
  db_head.append(title.getText().strip())
db_head
data_body = data_table.find_all('td')
db_data = []
for item in data_body:
    db_data.append(item.getText().strip())

In [0]:
import pandas as pd

In [0]:
P, B, N = db_data[::3], db_data[1::3], db_data[2::3]
data = {db_head[0]: P, db_head[1]: B, db_head[2]: N}
df = pd.DataFrame(data)

In [76]:
delete_row = df[df["Borough"]=='Not assigned'].index
df = df.drop(delete_row)
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [95]:
df = df.groupby('Postal code')['Neighborhood'].apply(lambda x: ', '.join(x)).reset_index()
df.head()

  Postal code                              Neighborhood
0         M1B                           Malvern / Rouge
1         M1C  Rouge Hill / Port Union / Highland Creek
2         M1E       Guildwood / Morningside / West Hill
3         M1G                                    Woburn
4         M1H                                 Cedarbrae

In [74]:
records = df['Neighborhood'] == 'Not assigned'
result = filter(lambda x: x == True, records) 
count = len(list(result))
print('The number of Not assigned Neighborhoods is {}'.format(count))

The number of Not assigned Neighborhoods is 0


*   Step 1 using BeautifulSoup I scrapped the given link and extracted in two separate lists the head and the data for the dataset
*   Step 2 imported pandas as pd and created DataFrame from the two lists from step 1
*   Step 3 cleaned the DataFrame from Not Assigned Boroughs
*   Step 4 grouped the data by Postal Code and combine the rows
*   Step 5 checked for Not Assigned Neighborhoods and printed the result, which is 0, so no need to manipulate the dataset further

In [83]:
df.shape

(103, 2)